.custom-table {
    margin: 0;
}

.custom-table th {
    background-color: #dee2e8;
    font-weight: 600;
    color: var(--color-dark);
}

.custom-table td {
    padding: 1rem;
    border-color: #e2e8f0;
    vertical-align: middle;
    font-size: .9rem;
}

@media (max-width: 768px) {
    .stat-card {
        margin-bottom: 1rem;
    }

    .custom-table {
        font-size: 0.85rem;
    }

    .btn-action {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar input:focus {
  border: 1px solid #4a66f5;
}

.search-bar input {
  flex: 1;
  padding: 8px 10px;
  font-size: .875rem;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-bar button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
    border: 1px solid var(--color-primary-dark);
    background-color: #f8f6f6;
}